@font-face{
    font-family: 'asomtavruli';
    src: url('./assets//fonts/bpg_nino_mtavruli_bold.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: asomtavruli;
}

body{
    background-color: #F1F1F1;
}

textarea:focus, input:focus{
    outline: none;
}

.mute-text {
    font-size: 13px;
    color: #8a8a8a;
}

.title{
    font-weight: bold;
    color: #000000;
    margin-bottom: 4px;
}

.currency {
    color: #BDC3CD
}

.blank{
    height: 200px;
    background-color: white;
    margin-left: -100px;
    margin-right: -100px;
}

