.login-form {
    width: 40%;
    height: auto;
    padding: 30px;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    text-align: center;
}

.navigate-auth {
    display: grid;
}

.navigate-auth button {
    margin-top: 10px;
}

.title {
    margin-bottom: 30px;
}

input.ng-valid.ng-touched {
    border: 0px solid green;
}

