<div class="container" style="background-color: white; border-radius: 20px;">
    <div class="py-2 text-center">
      <h2>გადახდის ფორმა</h2>
    </div>
    <div class="row py-4">
      <div class="col-md-4 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">თქვენი კალათა</span>
          <span class="badge badge-secondary badge-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let line of cartLines">
            <div>
              <h6 class="my-0">{{ line.bookTitle }}</h6>
              <small class="text-muted">X {{ line.quantity }}</small>
            </div>
            <span class="text-muted">₾{{ calculateLinePrice(line.quantity, line.bookPrice)}}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
              <h6 class="my-0">მიტანის სერვისი</h6>
              <small class="text-muted">სტანდარტული (3 დღე) </small>
            </div>
            <span class="text-muted">₾ 5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>ჯამი </span>
            <strong>₾ {{ CalculateTotalPrice() }}</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">მყიდველის ინფორმაცია</h4>
        <form class="needs-validation" [formGroup]="orderForm" (ngSubmit)="onSubmit()" [noValidate]="false">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">სრული სახელი</label>
              <input type="text" class="form-control" id="firstName" placeholder="სახელი და გვარი" formControlName="name">
              <span class="help-block text-danger" *ngIf="!orderForm.get('name').valid && orderForm.get('name').touched">გთხოვთ შეიყვანოთ თქვენი სახელი</span>

            </div>
          </div>
          <div class="mb-3">
            <label for="address">მისამართი</label>
            <input type="text" class="form-control" id="address" placeholder="საბურთალო 3, ბინა 23" formControlName="details">
            <span class="help-block text-danger" *ngIf="!orderForm.get('details').valid && orderForm.get('details').touched">გთხოვთ შეიყვანოთ თქვენი მისამართი</span>

          </div>
          <hr class="mb-4">
          <hr class="mb-4">
          <h4 class="mb-3">ბარათი <p class="text-muted">(არასავალდებულო)</p></h4>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="cc-name">ბარათის მფლობელის სახელი</label>
              <input type="text" class="form-control" id="cc-name" placeholder="">
              <small class="text-muted">ზუსტად ისე, როგორც ეს ბარათზეა</small>
            </div>
            <div class="col-md-6 mb-3">
              <label for="cc-number">ბარათის ნომერი</label>
              <input type="text" class="form-control" id="cc-number" placeholder="" >
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 mb-3">
              <label for="cc-expiration">ვადა</label>
              <input type="text" class="form-control" id="cc-expiration" placeholder="" >
            </div>
            <div class="col-md-3 mb-3">
              <label for="cc-cvv">CVV</label>
              <input type="text" class="form-control" id="cc-cvv" placeholder="" >
            </div>
          </div>
          <hr class="mb-4">
          <button class="btn btn-outline-success btn-lg btn-block" type="submit" [disabled]="!orderForm.valid || CalculateTotalPrice() <= 5">გადახდა</button>
        </form>
      </div>
    </div>

  </div>